#footerContenitore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

@media (max-width: 768px) {
  #footerContenitore {
    font-size: 12px;
    padding: 20px; /* Aumentiamo un po' il padding verticale */

    /* Cambiamo il layout in colonna */
    flex-direction: column;

    /* Centriamo i testi */
    text-align: center;

    /* AGGIUNGE LO SPAZIO TRA I DUE SPAN */
    gap: 10px;
  }
}
