#footerContenitore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

@media (max-width: 768px) {
  #footerContenitore {
    font-size: 14px;
    padding: 10px 20px;
  }
}
