#headerContenitore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  /* Impedisce agli elementi di andare a capo */
  flex-wrap: nowrap !important;
}

@media (max-width: 768px) {
  #headerContenitore {
    padding: 15px 20px;
    /* Assicura che gli elementi siano distribuiti uno a destra e uno a sinistra */
    justify-content: space-between !important;
  }

  .linkHeaderHome {
    position: fixed !important;
    top: 15px;
    left: 20px;
    z-index: 9999;
    display: flex;
  }

  /* Spingiamo ABOUT ME a destra */
  .linkHeader {
    margin-left: auto !important;
  }
}

@media (max-width: 500px) {
  #headerContenitore {
    padding: 10px 20px;
  }
}
