#headerContenitore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

@media (max-width: 500px) {
  #headerContenitore {
    padding: 10px 20px;
  }
}
