#progettoContenitore {
  display: flex;
  flex-direction: row;
  padding: 25px 0px;
  justify-content: space-between;
}

#progettoContenitore p {
  max-width: 50%;
}

#progettoContenitore h1 {
  font-size: 2.5em;
}

#progettoImmagine {
  clear: both;
  padding: 125px 0;
}
